@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 150vh;
  background: url("./images/ellipse7.svg"), url("./images/ellipse5.svg"),
    url("./images/figma.svg");
  background-repeat: no-repeat, no-repeat, repeat;
  background-position: right 130px, right 100px, right bottom;
  background-size: auto, auto, 100vh;
  margin: 0;
  line-height: inherit;
}
